/***********************
CONTAINERS
***********************/

body {
    height: 100vh;
    display: flex;
    background-color: rgb(218, 219, 211);
    
}

.container {
    width: 80%;
    height: 90%;
    margin: auto;
}

.row {
    display: flex;
    height: 90vh;
}

.col-small {
    width: 30%;
    background-color: #FFFFFF;
    border-right: 1px solid rgb(214, 214, 214);
}

.col-big {
    width: 70%;
    height: 100%;
}


/***********************
AVATAR INFO
***********************/

.profile {
    justify-content: space-between;
}

.profile img {
    display: block;
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 0 10px 15px;
}

.name-access span {
    display: block;
}

.options {
    width: 50%;
    text-align: end;
}




.search-chat {
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-chat input {
    display: block;
    width: 90%;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}



.chat-list .profile {
    border-bottom: 1px solid rgb(214, 214, 214);
}



/***********************
CHAT SECTION
***********************/

.chat-screen {
    background-image: url(../../img/mine.jpg);
}

.chat-container {
    width: 80%;
    background-color: red;
    margin: 0 auto;
}

.chat-box {
    width: 60%;
    background-color: silver;
    border-radius: 10px;
    margin-top: 40px;
}







.text-box {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px; 
}

.text-box div:first-child,
.text-box div:last-child {
    width: 10%;
}

.text-box div:nth-child(2) {
    width: 80%;
}

.text-box input {
    display: inline-block;
    width: 100%;
    padding: 10px 0 10px 10px;
    border: none;
    border-radius: 5px;
}

.text-box i {
    font-size: 20px;
    color: #6B7376;
}