/***********************
CONTAINERS
***********************/

body {
    height: 100vh;
    display: flex;
    background-color: rgb(218, 219, 211);
    
}

.container {
    width: 80%;
    height: 90%;
    background-color: red;
    margin: auto;
}

.row {
    display: flex;
    height: 90vh;
}

.col-small {
    width: 30%;
    background-color: blue;
}

.col-big {
    width: 70%;
    height: 100%;
    background-color: green;
}


/***********************
AVATAR INFO
***********************/

.profile {
    justify-content: space-between;
}

.profile img {
    display: block;
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 0 10px 15px;
}

.name-access span {
    display: block;
}

.options {
    width: 50%;
    text-align: end;
}



.chat-screen {
    background-color: yellow;
}


.text-box {
    width: 100%;
    background-color: aqua;
}