/********************
DISPLAY
********************/

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.overflow-grow {
    overflow-y: scroll;
    flex-grow: 1;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}



button {
    border: none;
}




.bg-white {
    background-color: #EAEAEA;
}

.bg-lightblue {
    background-color: #8FDAFC;
}
